.login-page-body {
    width: 100%;
    flex-direction: row;
    height:100%;
}

.login-form-body {
    width: 50%;
    height:100%;
    padding-left:4rem;
    justify-content:center;
    align-items:center;
    background-color: #fff;
}

.login-page-body .login-page-left .login-page-logo {
    width: 6rem;
    height: 2rem;
}

.login-form-body .ant-card-head {
    border-bottom: 0px solid transparent;
    font-size: 2rem;
    padding: 0px;
    padding-bottom: 0.5rem;
}

.login-form-body .ant-card-body {
    padding: 0px;
}

.login-form-body .ant-card-body .ant-typography {
    font-size: 1rem;
}

.login-form-body .ant-card-body .ant-form .ant-form-item-control-input .ant-input-affix-wrapper:focus-within,
.login-form-body .ant-card-body .ant-form .ant-form-item-control-input .ant-input-affix-wrapper:focus-visible,
.login-form-body .ant-card-body .ant-form .ant-form-item-control-input .ant-input-affix-wrapper:focus {
    outline: #116173 auto 1px;
}

.login-form-body .ant-card-body .ant-form .ant-form-item-control-input .ant-input-affix-wrapper {
    padding: 0.5rem;
    background-color: #fff;
}

.login-form-body .ant-card-body .ant-form .ant-form-item-control-input .ant-input-affix-wrapper .ant-input-prefix,
.login-form-body .ant-card-body .ant-form .ant-form-item-control-input .ant-input-affix-wrapper .ant-input  {
    color: #000;
}

.login-page-left {
    width:50%;
    height: 100%;
    padding: 1rem;
    background-color: #116173;
    display: flex;
    flex-direction: column;
}

.login-page-left .login-left-body {
    height: 100%;
    position: relative;
    text-align: center;
}

.login-page-left .login-left-body .login-left-body-data {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35rem;
}

.login-page-left .login-left-body .login-left-body-data .review-text-content {
    color: #fff;
    font-size: 1.40rem;
    line-height: 2.25rem;
    margin-bottom: 2.5rem;
}

.login-page-left .login-page-logo img {
    border-radius: 2rem;
    width: 100%;
    height:100%;
}

.login-page-left .login-left-body .login-left-body-data .profile_img {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    margin: auto;
}

.login-page-left .login-left-body .login-left-body-data .profile_img img {
    border-radius: 50%;
    background-repeat: no-repeat;
    margin: 0px auto;
    background-size: cover;
}

.login-page-left .color-white-text {
    color: #fff;
}

.login-page-left .login-left-body .login-left-body-data .login-star-icon .anticon-star svg {
    color: #fec84b;
    margin-right: 0.125rem;
}

.login-left-footer p {
    display: flex;
    align-items: center;
}

.login-left-footer p .anticon-copyright {
    padding-right: 0.25rem;
}

.login-button-superset {
    padding: 1.25rem;
    font-size: 1rem;
    margin-top: 0.5rem;
    background-color: #116173;
}

.login-form-body .ant-card-body .ant-form .ant-form-item-label .ant-typography {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #344054;
}

@media (max-width: 1280px) {

    .login-page-left {
        display: none;
    }

    .login-form-body {
        width: 100%;
        height: 100%;
        flex-direction: column;
    }

    .login-page-responsive-logo {
        display: block !important;
    }
}

.login-page-responsive-logo {
    display: none;
    width: 6rem;
    height: 2rem;
    margin-bottom: 2rem;
}

.login-page-responsive-logo img {
    width: 100%;
    height:100%;
}